#container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 20% 80%;
    max-height: 800px;
    overflow: auto;
}
#colors > div{
    display: block;
    text-align: left;
    padding-left: 25px;
    max-height: 500px;
}
#colorTitle{
    margin-left: 0px;
    text-align: left;
    padding-left: 40px;
}
#container > div{
    border : 1px solid rgb(190, 189, 189);
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    
}


.images{
    height: 300px;
}

.gridDiv{
    text-align: left;
    
}

.price{
    margin-left: 8px;
}
.title{
    margin-left: 8px;
}

.filters{
    border : 1px solid black;

}